:root {
    background-image: radial-gradient(circle at 50% 10%, lch(20.33% 0 296.81), lab(9.26% 0 0));
}

* {
    color: white;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /*  background-color: hwb(205 6% 80%); */
}
body{
    display: grid;
    grid-template-areas: 
        ". center contents";
}
.center{
    grid-area: center;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/** ABOUT ME **/
.about-me {
    margin: 4rem;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
}

.about-me-image-container {
    margin-right: 1rem;
    width: 300px;
    height: 300px;
}

.about-me-image-container img {
    object-fit: cover;
    height: 100%;
}

/* ASIDE */
.contents{
    grid-area: contents;
    margin: 4rem;
    padding: 2rem;
    width: 100%;
    max-width: 10rem;
    float: right;
    border: #000000 1px solid;
}

.contents-list ul{

}

/** SKILLS **/
/* skills image */
.skills-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.skills-image-container img {
    object-fit: contain;
    height: 100%;
}

/* skills list */
.skills {
    width: 100%;
    max-width: 1200px;
}

.skills-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.skills-item h3,
p {
    color: black;
    text-align: center;
}

.skills-item p {
    margin: 0.75rem;
}

/* Skill Cards and Animation */

@property --angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.skills-item-wrapper{
    transition: 0.25s;
}

.skills-item {
    margin: 1rem;
    padding: 0.5rem;
    background-color: lightblue;
    border-radius: 1rem;
    height: 16rem;
    position: relative;
    background-image: linear-gradient(45deg, hwb(0 9% 17%), hsl(219, 59%, 52%));
}

.skills-item::after{
    content: '';
    z-index: -1;
    inset: -4px;
    position: absolute;
    background-image: conic-gradient(from var(--angle), transparent 25%, lab(87.26% -1.82 81.07), lab(64.39% 51.98 49.83), hwb(278 24% 20%), rgb(47, 99, 196));
    border-radius: 1rem;
}
.skills-item::before {
    content: '';
    inset: -4px;
    position: absolute;
    background-image: conic-gradient(from var(--angle), transparent 25%, lab(87.26% -1.82 81.07), lab(64.39% 51.98 49.83), hwb(278 24% 20%), rgb(47, 99, 196));
    border-radius: 1rem;
    z-index: -2;
    filter: blur(2rem);
}

.skills-item-wrapper:hover{ 
    transform: translateY(-5px);
}

.skills-item:hover::before, .skills-item:hover::after{
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/** PROJECTS **/
/* projects item */
.projects h3{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.projects-item{
    padding: 20rem 8rem 0 8rem;
    display: flex;
    width: 100%;
    max-width: 1200px;
    outline: 8px solid #000000;
    border-radius: 1rem;
    background-color: lightgray;
    justify-content: center;
    align-items:end;
    transition: 0.25s;
}
.projects-item:hover{
    background-color: lightskyblue;
}
.projects-item:hover .projects-image-container{
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px #000000;
}

/* projects image */
.projects-image-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
    outline-offset: 2px;
    outline: 8px solid #000000;
    border-radius: 1rem;
    position: relative;
    transition: 0.25s;
}

.projects-image-container::after {
    content: '';
    position: absolute;
    inset: 0;
    outline-offset: 10px;
    outline: 1px solid white;
    border-radius: 1rem;
}

.projects-image-container img {
    object-fit: contain;
    width: 100%;
    outline: 1px ridge white;
    border-radius: 1rem;
}